:root {
    --pink: hsl(322, 100%, 66%);
    --light-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --white: #FFFFFF;
    --main-font: 'Open Sans';
    --header-font: 'Poppins';
}

body {
    font-size: 18px;
    font-family: var(--main-font);
    background-image: url("/assets/images/bg-hero-mobile.svg");
    
}

/* header */
header {
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 1em 7em;
}

.header__img {
    height: 1.2em;
}

.header__btn {
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 1em;
    cursor: pointer;
}

/* content */
.content {
    text-align: center;
    margin: 0 1.5em;
}

.content-info__title {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5em;
}

.content-info__text {
    line-height: 1.5em;
    margin: 1.5em 0;
    text-align: center;
    font-size: 17px;
}

.content-info__btn {
    cursor: pointer;
    background-color: var(--pink);
    font-size: 14px;
    color: var(--light-cyan);
    padding: 1em 4.5em;
    border-radius: 24px;
    font-weight: 700;
}

.content__img {
    width: 100%;
    margin: 3em 0 2em;
}

/* cards */
.cards {
    background-color: var(--white);
    padding-top: 4em;
    padding-bottom: 3em;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 1em 2em;
    padding: 3em 2em 2em;
}

.card__title {
    font-family: var(--header-font);
    font-weight: 600;
    text-align: center;
    margin-top: 3em;
}

.card__text {
    line-height: 1.5em;
    font-size: 17px;
    text-align: center;
    margin-top: 1.5em;
    color: var(--grayish-blue);
}

.card__img {
    width: 100%;
}

/* bottom card */
.bottom-card {
    background-color: var(--white);
}

.bottom-card__container {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 0 .5em;
    padding: 3em 0;
    text-align: center;
    position: relative;
    top: 5em;
}

.bottom-card__title {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 600;
}

.bottom-card__btn {
    background-color: var(--pink);
    font-size: 14px;
    color: var(--light-cyan);
    padding: 1em 3.5em;
    border-radius: 24px;
    margin-top: 2em;
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--dark-cyan);
    padding-top: 8em;
}

.footer-info {
    padding: 2em 0 0;
    margin: 0 1em;
}

.footer-img {
    margin: 0 1em;
}

.footer-info__container {
    display: flex;
    margin-bottom: 2em;
    
}
.footer-info__img {
    width: fit-content;
    height: fit-content;
    margin-right: 2em;
}
.footer-info__text {
    text-align: left;
    color: var(--light-cyan);
    font-size: 16px;
}

.footer-info__list {
    color: var(--light-cyan);
    padding: 2em 0;
}

.list__item {
    margin-bottom: 1.5em;
}

.copyright {
    color: var(--white);
    font-size: 12px;
    text-align: center;
    margin-bottom: 4em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--white);
    padding-bottom: 1em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url("../images/bg-hero-desktop.svg");
    }

    header {
        margin: 2em 5em 4em;
    }

    .header__img {
        height: 2em;
    }

    .header__btn {
        padding: .8em 4em;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    /* content */
    .content {
        display: flex;
        margin: 0 4em;
    }

    .content-info {
        margin-top: 6em;
        text-align: left;
        margin-right: 1em;
        padding-right: 8em;
    }

    .content-info__title {
        text-align: left;
        font-size: 38px;
        padding-right:4em;
    }

    .content-info__text {
        text-align: justify;
        font-size: 22px;
    }

    .content-info__btn {
        padding: 1.5em 4.5em;
        border-radius: 50px;
    }

    .content__img {
        margin: 0;
        width: 55vw;
        padding-left: 2em;
    }

    /* cards */
    .card {
        margin: 5em;
        display: flex;
    }

    .card__img {
        width: 40%;
    }

    .card__info {
        margin-left: 2em;
    }

    .card__title {
        font-size: 36px;
        text-align: left;
    }

    .card__text {
        text-align: justify;
        font-size: 24px;
        padding-right: 2em;
    }

    .odd-card {
        flex-direction: row-reverse;
    }

    .odd-card .card__img {
        padding-left: 8em;
    }

    .even-card .card__img {
        margin-right: 8em;
    }

    /* bottom card */
    .bottom-card__container {
        padding: 3em 0;
        width: 60%;
        margin: auto;
    }

    .bottom-card__title {
        font-size: 36px;
    }

    .bottom-card__btn {
        width: 35%;
        padding: 1.5em 0;
        font-size: 20px;
        border-radius: 50px;
    }

    /* footer */
    .footer-img, .footer-info {
        margin: 3em;
    }

    
}